{# src/AppBundle/Resources/views/tache/index.html.twig #}

{% extends "base.html.twig" %}

{% block main %}
<div class="item-actions navbar-right">
    <a href="{{ path('ajouter_tache') }}" class="btn btn-sm btn-success">
            <i class="fa fa-edit"></i> Liste des tâches
    </a>
</div>
<table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-cogs"></i> Utilisateur</th>
                <th><i class="fa fa-cogs"></i> Jour</th>
                <th><i class="fa fa-cogs"></i> Client</th>
                <th><i class="fa fa-cogs"></i> Activite</th>
                <th><i class="fa fa-cogs"></i> Durée</th>
                <th><i class="fa fa-cogs"></i> Description</th>
                <th><i class="fa fa-cogs"></i> Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in listeTaches %}
            <tr>
                <td>{{ tache.user.username }}</td>
                <td>{{ tache.jour|date('d/m/Y') }}</td>
                <td>{{ tache.client.nom }}</td>
                <td>{{ tache.activite.nom }}</td>
                <td>{{ tache.duree }}</td>
                <td>{{ tache.description }}</td>
                <td>
                     {% if is_granted('ROLE_ADMIN') %}
                    <div class="item-actions">
                            <a href="{{ path('modifier_tache', { id: tache.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> Modifier
                            </a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucune Tache n'est trouvée</td>
           </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}